@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.sign-up {
    &__wrap {
        margin-top: 20%;
        content: inherit;
    }
    &__title, &__login {
        text-align: center;
        padding-bottom: 1em;
    }
}