@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.sign-in {
    padding: $mobile-spacing;
    &__wrap {
        margin-top: 10%;
        max-width: 420px;
        margin: auto;
    }
    &__title {
        text-align: center;
        padding: 1em;
    }
    &__reset-pass {
        text-align: center;
    }
}
