//media queries
$mobile: 767.9px;
$mobile-large: 500px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;
$desktop-xl: 1440px;
//spacing
$mobile-spacing: 16px;
$tablet-spacing: 24px;
$desktop-spacing: 40px;
$desktop-side-spacing: 160px;
$desktop-xl-side-spacing: 180px;
//colours
$primary-light: #f8f7f7;
$highlight: #ed8f0c;
$faded-black: rgba(0, 0, 0, 0.9);
