@use './partials/variables' as *;
@use './partials/mixins' as *;

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i|Playfair+Display:400,400i,700,700i");
* {
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
}
html, body, main, section, footer, h1, h2, h3, h5, img {
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
    color: #323232;
    cursor: pointer;
}
ul {
    list-style-type: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 0.85em;
    font-weight: 400;
    line-height: 0.65em;
    letter-spacing: .07em;
    margin: 0;
}
button {
    height: 36px;
    border: none;
    display: inline-block;
    background: none;
    color: inherit;
}
p {
    font-size: 0.85em;
    line-height: 1.75em;
    font-weight: 300;
}