@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.add-menu {
    width: 100%;
    text-align: center;
    @include tablet {
      border-bottom: none;
    }
    &__title {
      padding:2em 0 1rem 0;
      width: 60%;
      border-bottom: solid 1px #ed8f0c;
      margin: auto;
    }
   &__form-wrap {
      width: 100%;
      display: flex;
      align-items:flex-start;
      flex-wrap: wrap;
   }
   &__form {
    padding: 0.5rem;
   }
   
    &__file {
        position: relative;
        display: inline-block;
        cursor: pointer;
        height: 2.5rem;
      }
   
    &__file-custom {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 5;
        height: 2.5rem;
        max-width: 320px;
        border: .075rem solid $highlight;
    }
  
    &__file-custom:before {
        position: absolute;
        top: -.075rem;
        left: -.075rem;
        bottom: -.075rem;
        width: 6.75rem;
        z-index: 6;
        display: block;
        content: "Browse";
        height: 2.5rem;
        padding: .5rem 1rem;
        line-height: 1.5;
        color: white;
        background-color:$highlight;
        border: .075rem solid $highlight;
      }
    
      &__thumb {
        max-width: 320px;
        height: 25rem;
        object-fit:cover;
        object-position: top left;
        padding-bottom: 2em;
      }
}

  input[type=file] {
    padding: 0.5rem 0 0.5rem 2.5rem;
  }
  input[type=file]::-ms-browse {
    opacity: 0;
  }
  input[type=file]::-webkit-file-upload-button {
    opacity: 0;
  }
  
  input[type=file]::file-selector-button {
    opacity: 0;
  }
  