@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.add-user {
    width: 100%;
    @include tablet {
        width: 80%;
    &__form {
        @include desktop{
            max-width: 420px;
          }
      }
    }
    
    &__title {
        text-align: center;
        padding:2em 0;
    }
    &__login {
        text-align: center;
        padding-bottom: 1em;
    }
}
