@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.nav {
    max-width: 100%;
    right: 0;
    left: 0;
    height: 70px;
    padding: 1.25rem 17vw;
    position: fixed;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    @include flex-container($spacing: space-between);
    @include tablet {
        padding: 0 17vw;
        align-items: center;
    }
    &__logo {
        font-size: 2rem;
        cursor: pointer;
        z-index: 20;
        color: $primary-light;
    }
    &__toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        z-index: 21;
        cursor: pointer;
        @include tablet {
            display: none;
            }
        }       
            &__line {
                transition: all 0.125s linear;
                position: relative;
                transform-origin: 1px;
                z-index: 25;
                height: 3px;
                width: 90%;
                background-color: $primary-light;
              
                    &:nth-child(1) {
                        transform: rotate(0);
                        &.open {
                            transform: rotate(45deg);
                        }
                    }
                    
                    &:nth-child(2) {
                        opacity: 1;
                        transform: translateX(0);
                        width: 70%;
                        &.open {
                            opacity: 0;
                            transform: translateX(20px);
                        }
                    }
                    
                    &:nth-child(3) {
                        transform: rotate(0);
                        &.open {
                            transform: rotate(-45deg);
                        }          
                    }                                 
                }

    &__items {
        display: none;
        @include tablet {
        @include flex-container($align: center, $spacing: flex-end);
        }
    }
    
    &__item {
        padding-left: 2.25em;
        font-size: 0.9em;
        letter-spacing: 1.5px;
        font-weight: 600;
        &--link {
            color:$primary-light;
            &:hover {
                transition: ease-in 0.3s;
                color: #ed8f0c;
            }
        }
    } 
  
    &__mobile-menu {
        top: -20px;
        background-color: $faded-black;
        width:100%;
        height: 101vh;
        position: absolute;
        left:0;
        bottom:0;
        padding: 20vh 1vw;
        z-index: -1;
        -webkit-animation: fadeIn 0.4s;
        animation: fadeIn 0.4s;
        @include tablet {
          display: none;
        }
    }
    &__mobile-menu .nav__items {
        margin: auto;
        display: block;
        // position: rela tive;
        // transition: all 0.125s linear;
        
    }
    &__mobile-menu .nav__item {
        padding: 1.5em 0;
        text-align: center;
        font-size: 1.25em;
        font-weight: lighter;
        @include tablet {
          display:inline-block;
      }
    }
}
          
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}


        