@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.reset {
    &__wrap {
        margin-top: 10%;
    }
    &__title {
        text-align: center;
        padding-bottom: 1em;
    }
    &__reset-pass {
        text-align: center;
    }
}