@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.section {
    width: 100%;
    background-color: white;
    color: rgb(19, 18, 18);
    overflow: hidden;
    position: relative;
    @include flex-container($align: center, $spacing: center, $wrap: wrap);
    flex-direction: row-reverse;
    @include mobile-large {
        padding: 2*$mobile-spacing 1.5*$mobile-spacing;
    }
    @include tablet {
        padding: 2*$tablet-spacing 0;
    }
    @include desktop {
        padding: 6em 0;
    }
    &:nth-of-type(even) {
        background-color: black;
        color:rgb(218, 218, 218);
        font-weight: 800;
        flex-direction: row;
    }
    &__img {
        max-height: 50vh;
        padding: 0 1em;
        right: auto;
    }
    &__body {
        padding: 2*$mobile-spacing 1.5*$mobile-spacing;
        text-align: center;
        @include mobile-large {
            padding: 2*$mobile-spacing 2.5*$mobile-spacing;
        }
        @include tablet {
            max-width: 36em;
            padding: $tablet-spacing 2*$tablet-spacing
        }
        @include desktop {
            max-width: 30%;
            padding: 3rem 0;
            margin: 3rem;
            text-align: unset;
        }    
    }
    &__button {
        // border: 0.5px solid #ed8f0c;
        margin-right: 1.5em;
        margin-top: 1em;
        padding: 1em 1.5em;
        min-height: 3.75em;
        min-width: 12em;
        &--link {
            color:inherit;
            
            &:hover {
                color: #ed8f0c;
            }
            &:focus {
                outline: none;
            } 
        }
    }  
}
