@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.section {
    width: 100%;
    background-color: white;
    color: #222222;
    overflow: hidden;
    position: relative;
    padding-top: 1.5*$mobile-spacing ;
    @include flex-container($align: center, $spacing: space-evenly, $wrap: wrap);
    flex-direction: row-reverse;
    @include tablet {
        padding: 2*$mobile-spacing 1.5*$mobile-spacing;
    }

    &:nth-of-type(even) {
        background-color: black;
        color:rgb(218, 218, 218);
        font-weight: 800;
        flex-direction: row;
    }
    &__img-wrap {
        width: 100%;
        @include tablet {
            width: 80%;
        }
        
        @include laptop {
            max-width: 50%;
        }
   
        @include desktop {
                max-width: 38vw;
            }
       }
   
    &__img {
        width:100%;
        padding: 0 1em;
        right: auto;
    }
    &__body {
        padding: 2*$mobile-spacing 1.5*$mobile-spacing;
        text-align: center;
        @include laptop {
            width: 50%;
            padding: unset;
        }
        @include desktop {
            max-width: 40%;
            padding: 3rem 0;
            margin: 3rem;
            text-align: unset;
        }         
    }
    &__heading {
        font-size: 2rem;
    }
    &__text {
        max-width: 76%;
        margin-left: auto;
        margin-right: auto;
        @include desktop {
            margin-left: unset;
        }
    }
    &__button {
        margin: 1rem;
        padding: 1em 1.5em;
        min-height: 3.75em;
        width: 13.5rem;
        transition: all 0.3s ease-in-out;
        @include tablet {
            margin: unset;
            margin-right: 1.5em;
            margin-top: 1em;
        }
        &--link {
            color:inherit;
            
            &:hover {
                transition: ease-in 0.3s;
                color: #ed8f0c;
            }
            &:focus {
                outline: none;
            } 
        }
    }  
}
