@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.dashboard {
    max-width: 100%;
    padding: $mobile-spacing;
    @include desktop {
        padding-left: $desktop-spacing;
        padding-right: $desktop-spacing;
    }
    
    &__title, &__logged-in {
        text-align: center;
    }
    &__title {
        padding-top: 1em;
    }
    
    &__wrap {
        @include flex-container($align: baseline, $spacing: space-between);
        flex-direction: column;
        @include mobile-large {
            margin: auto;
            padding-left: $tablet-spacing;
            padding-right: $tablet-spacing;
        }
        @include tablet {
            flex-direction: row;
          }
    }
    &__logout {
        display: block;
        margin: 5em auto;
    }
}