@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.dashboard {
    &__title {
        text-align: center;
        padding: 1em;
    }
    &__wrap {
        @include flex-container($align: baseline, $spacing: space-between, $wrap: wrap);
        @include mobile-large {
            flex-wrap: nowrap;
        }
    }
    &__logout {
        display: block;
        margin: 5em auto;
    }
}
