@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.dashboard {
    max-width: 100%;
    padding: $mobile-spacing;
    @include desktop {
        padding-left: $desktop-spacing;
        padding-right: $desktop-spacing;
    }
    
    &__title, &__logged-in {
        text-align: center;
    }
    &__title {
        padding-top: 1em;
    }
    
    &__logout {
        display: block;
        margin: 5em auto;
    }
}