@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.footer {
    background-color: black;
    width: 100%;
    padding:  $mobile-spacing 2*$mobile-spacing 2*$mobile-spacing 2*$mobile-spacing;
    min-height: 300px;
    color: $primary-light;
    @include tablet {
        padding: 6vh 10vw;
    }
    @include desktop {
        padding: 6vh 12vw;
    }
    &__cols {
        @include tablet {
            @include flex-container($align: baseline, $spacing: space-between);
        }
        @include desktop {
            justify-content: space-around;
        }
    }
    &__col {
        padding-bottom: 1.5*$mobile-spacing;
        max-width: 100vw;
        @include tablet {
            max-width: 25vw;
            padding-bottom: 1.5*$tablet-spacing;
        }
        @include desktop {
            max-width: 35vw;
            padding-bottom: 1.5*$tablet-spacing;
        }
    }
    &__col-title, &__col-heading {
        letter-spacing: 1.25px;
        font-family: 'Metropolis', 'Montserrat', Helvetica, sans-serif;
        font-weight: 500;
    }
    &__col-heading, &__col-text {
        letter-spacing: 1px;
    }
    
    &__col-icon {
        height: 1.5em;
        padding-right: 1.5*$tablet-spacing;
        opacity: 1;
        @include tablet {
            padding-right: $tablet-spacing;
            &:hover {
                opacity: 0.8;
            }
        }    
    }
   
    &__col-text {
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }

    &__bottom-wrap {
        display: flex;
        flex-wrap: wrap;
        @include tablet {
            justify-content: center;
        }
    }
    &__copy {
        font-size: 0.6rem;
        font-weight: 200;
        opacity: 0.8;
        a {
            color: inherit;
        }
      }
}