@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.footer {
    background-color: black;
    width: 100%;
    padding:  $mobile-spacing 2*$mobile-spacing 2*$mobile-spacing 2*$mobile-spacing;
    min-height: 300px;
    color: white;
    @include tablet {
        padding: 6vh 10vw;
    }
    @include desktop {
        padding: 6vh 12vw;
    }
    &__cols {
        @include tablet {
            @include flex-container($align: baseline, $spacing: space-between);
        }
        @include desktop {
            justify-content: space-around;
        }
    }
    &__col {
        padding-bottom: 1.5*$mobile-spacing;
        max-width: 100vw;
        color: rgb(241, 240, 240);
        @include tablet {
            max-width: 25vw;
            padding-bottom: 1.5*$tablet-spacing;
        }
        @include desktop {
            max-width: 35vw;
            padding-bottom: 1.5*$tablet-spacing;
        }
    }
    &__col-title {
        letter-spacing: 1.5px;
    }
    &__col-icon {
        height: 1.5em;
        padding-right: 1.5*$tablet-spacing;
        @include tablet {
            padding-right: $tablet-spacing;
        }
    }
    &__col-contact--text, &__col-hours--text {
        line-height: 1em;
        color:rgb(218, 218, 218);
        @include tablet {
            line-height: 1.5em;
        }
    }
    &__tel {
        color: rgb(241, 240, 240);
    }
    &__admin-icon {
        position: absolute;
        left: 2em;
        
        @include tablet {
       
        }
    }
}